/**
 * Variables
 */

/* Colors */
$primary: #F6F6F6;
$secundary: #E4DCCF;
$tertiary: #F35607;
$dark: #181818;
$light: #FFFFFF;

/* Layout */
$layout-padding-x: 4rem;

/* Effects */
$transition: all .3s ease;